<div class="house">

    <%= image_tag("restaurant-floor.jpg", class: "floor") %>

    <%= content_tag(:div, nil, remote: true, class: "top-right-booth-empty") %>

    <%= image_tag("toprightbooth.png", class: "top-right-booth") %>

    <%= content_tag(:div, nil, remote: true, class: "top-left-booth-empty") %>

    <%= image_tag("northleft.png", class: "top-left-booth") %>

    <%= content_tag(:div, nil, remote: true, class: "diagonal-upper-left-booth-empty") %>

    <%= image_tag("upperleftbooth.png", class: "diagonal-upper-left-booth") %>

    <%= content_tag(:div, nil, remote: true, class: "left-booth-empty") %>

    <%= image_tag("leftbooth.png", class: "left-booth") %>

    <%= content_tag(:div, nil, remote: true, class: "diagonal-bottom-left-booth-empty") %>

    <%= image_tag("bottomleftbooth.png", class: "diagonal-bottom-left-booth") %>

    <%= content_tag(:div, nil, remote: true, class: "bottom-left-booth-empty") %>

    <%= image_tag("bottomleft.png", class: "bottom-left-booth") %>


    <%= content_tag(:div, nil, remote: true, class: "bottom-right-booth-empty") %>

    <%= image_tag("bottomrightbooth.png", class: "bottom-right-booth") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-left-bottom-empty") %>

    <%= image_tag("roundtable.png", class: "round-table-left-bottom") %>


    <%= content_tag(:div, nil, remote: true, class: "round-table-left-top-empty") %>

    <%= image_tag("roundtable.png", class: "round-table-left-top") %>


    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-top-left-empty") %> 

    <%= image_tag("roundtable.png", class: "round-table-middle-top-left") %>


    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-top-middle-empty") %> 

    <%= image_tag("roundtable.png", class: "round-table-middle-top-middle") %>


    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-top-right-empty") %> 

    <%= image_tag("roundtable.png", class: "round-table-middle-top-right") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-bottom-left-empty") %> 

    <%= image_tag("roundtable.png", class: "round-table-middle-bottom-left") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-bottom-middle-empty") %> 

    <%= image_tag("roundtable.png", class: "round-table-middle-bottom-middle") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-bottom-right-empty") %> 

    <%= image_tag("roundtable.png", class: "round-table-middle-bottom-right") %>


    <%= render 'reservation_form' %>

</div>