<div class="house">

	<%= image_tag("restaurant-floor.jpg", class: "floor") %>

		
		<a href="#top-right-booth" ><div id="top-right-booth-empty">
			</div>
		</a>
		
		<a href="#">
			<%= image_tag("toprightbooth.png", id: "top-right-booth") %>
		</a>

	

		<a href="#"><div class="top-left-booth-empty">
			</div>
		</a>

		<a href="#">
			<%= image_tag("northleft.png", class: "top-left-booth") %>
		</a>



		<a href="#"><div class="diagonal-upper-left-booth-empty">
			</div>
		</a>

		<a href="#"><div class="diagonal-upper-left-booth">
			</div>
		</a>



		<a href="#"><div class="diagonal-upper-left-booth-empty">
			</div>
		</a>
		<a href="#">
			<%= image_tag("upperleftbooth.png", class: "diagonal-upper-left-booth") %>
		</a>



		<a href="#"><div class="left-booth-empty">
			</div>
		</a>
		<a href="#">
			<%= image_tag("leftbooth.png", class: "left-booth") %>
		</a>



		<a href="#"><div class="diagonal-bottom-left-booth-empty">
			</div>
		</a>
		<a href="#">
			<%= image_tag("bottomleftbooth.png", class: "diagonal-bottom-left-booth") %>
		</a>
	

		<a href="#"><div class="bottom-left-booth-empty">
			</div>
		</a>
		<a href="#">
			<%= image_tag("bottomleft.png", class: "bottom-left-booth") %>
		</a>
	


		<a href="#"><div class="bottom-right-booth-empty">
			</div>
		</a>
		<a href="#">
			<%= image_tag("bottomrightbooth.png", class: "bottom-right-booth") %>
		</a>
	


		<a href="#"><div class="round-table-left-bottom-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-left-bottom") %>
		</a>



		<a href="#"><div class="round-table-left-top-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-left-top") %>
		</a>


		<a href="#"><div class="round-table-middle-top-left-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-middle-top-left") %>
		</a>



		<a href="#"><div class="round-table-middle-top-middle-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-middle-top-middle") %>
		</a>


		<a href="#"><div class="round-table-middle-top-right-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-middle-top-right") %>
		</a>


		<a href="#"><div class="round-table-middle-bottom-left-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-middle-bottom-left") %>
		</a>


		<a href="#"><div class="round-table-middle-bottom-middle-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-middle-bottom-middle") %>
		</a>

		<a href="#"><div class="round-table-middle-bottom-right-empty">
			</div>
		<a href="#">
			<%= image_tag("roundtable.png", class: "round-table-middle-bottom-right") %>
		</a>

<%= render 'reservation_form' %>

</div>