<div class="house">

  <%= image_tag("restaurant-floor.jpg", class: "floor") %>

  <!-- -------------Beginning of yellow queue tables-------------->

  <%= table :a1, "roundtable.png", top: 465, left: 446, width: 80 %>
  <%= table :a2, "roundtable.png", top: 366, left: 446, width: 80 %>
  <%= table :a3, "roundtable.png", top: 350, left: 700, width: 80 %>
  <%= table :a4, "roundtable.png", top: 350, left: 920, width: 80 %>
  <%= table :a5, "roundtable.png", top: 450, left: 700, width: 80 %>
  <%= table :a6, "roundtable.png", top: 450, left: 807, width: 80 %>
  <%= table :a7, "roundtable.png", top: 450, left: 920, width: 80 %>
  <%= table :a8, "roundtable.png", top: 350, left: 805, width: 80 %>

  <%= table :b1, "toprightbooth.png", top: 229, left: 614, width: 100 %>
  <%= table :b2, "northleft.png", top: 238, left: 452, width: 100 %>
  <%= table :b3, "upperleftbooth.png", top: 265, left: 338, width: 100 %>
  <%= table :b4, "leftbooth.png", top: 401, left: 307, width: 80 %>
  <%= table :b5, "bottomleftbooth.png", top: 552, left: 338, width: 100 %>
  <%= table :b6, "bottomleft.png", top: 566, left: 454, width: 100 %>
  <%= table :b7, "bottomrightbooth.png", top: 578, left: 615, width: 100 %>



  <% if user_signed_in? %>
  <%= render 'reservation_form' %>
  <script type="text/javascript">
  $(function(){
    $(".table").on("click",function() {
    var isSelected = $(this).hasClass("selected");

    // Reset to empty state
    $("#reservation_table").val("");
    $(".table").removeClass("selected");

    // Select this if it was not selected before
    if(!isSelected){
      $(this).addClass("selected");
      $("#reservation_table").val($(this).data('table'))
    }
    });
  })
  </script>
  <% end %>

  <% if owner_signed_in? %>


    <script>

$(function(){
    <% @reservations.each do |r| %>
    $("[data-table=<%= r.table %>]").addClass("reserved")
    <% end %>
})


var client = new Faye.Client('/faye');

var subscription = client.subscribe('/reservations', function(table){
  $("[data-table="+table+"]").addClass("reserved")
  console.log(table)
});

    </script>

  <% end %>


</div>
