<div class="house">

<% if user_signed_in? %>
    <%= content_tag(:div, nil, remote: true, class: "top-right-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "top-left-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "diagonal-upper-left-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "left-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "diagonal-bottom-left-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "bottom-left-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "bottom-right-booth-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-left-bottom-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-left-top-empty") %>

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-top-left-empty") %> 

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-top-middle-empty") %> 

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-top-right-empty") %> 

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-bottom-left-empty") %> 

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-bottom-middle-empty") %> 

    <%= content_tag(:div, nil, remote: true, class: "round-table-middle-bottom-right-empty") %>




    
<% end %>


    <%= image_tag("restaurant-floor.jpg", class: "floor") %>

    <%= image_tag("toprightbooth.png", class: "top-right-booth") %>

    <%= image_tag("northleft.png", class: "top-left-booth") %>

    <%= image_tag("upperleftbooth.png", class: "diagonal-upper-left-booth") %>
    <%= image_tag("leftbooth.png", class: "left-booth") %>

    <%= image_tag("bottomleftbooth.png", class: "diagonal-bottom-left-booth") %>
    <%= image_tag("bottomleft.png", class: "bottom-left-booth") %>

    <%= image_tag("bottomrightbooth.png", class: "bottom-right-booth") %>

    <%= image_tag("roundtable.png", class: "round-table-left-bottom") %>

    <%= image_tag("roundtable.png", class: "round-table-left-top") %>

    <%= image_tag("roundtable.png", class: "round-table-middle-top-left") %>
    <%= image_tag("roundtable.png", class: "round-table-middle-top-middle") %>
    <%= image_tag("roundtable.png", class: "round-table-middle-top-right") %>
    <%= image_tag("roundtable.png", class: "round-table-middle-bottom-left") %>
    <%= image_tag("roundtable.png", class: "round-table-middle-bottom-middle") %>
    <%= image_tag("roundtable.png", class: "round-table-middle-bottom-right") %>

    
    <%= render 'reservation_form' if user_signed_in? %>



<% if owner_signed_in? %>

<script>

var client = new Faye.Client('/faye');

var subscription = client.subscribe('/reservations', function(data){
  console.log(data);
});

</script>

<% end %>


</div>