<div class="house">

	<%= image_tag("restaurant-floor.jpg", class: "floor") %>

	<div class="toprightbooth">
		<%= image_tag("toprightbooth.png", class: "top-right-booth") %>
	</div>
	<div class="topleftbooth">
		<%= image_tag("northleft.png", class: "top-left-booth") %>
	</div>
	<div class="diagonalupperleftbooth">
		<%= image_tag("upperleftbooth.png", class: "diagonal-upper-left-booth") %>
	</div>
	<div class="leftbooth">
		<%= image_tag("leftbooth.png", class: "left-booth") %>
	</div>
	<div class="diagonalbottomleftbooth">
		<%= image_tag("bottomleftbooth.png", class: "diagonal-bottom-left-booth") %>
	</div>
	<div class="bottomleftbooth">
		<%= image_tag("bottomleft.png", class: "bottom-left-booth") %>
	</div>
	<div class="bottomrightbooth">
		<%= image_tag("bottomrightbooth.png", class: "bottom-right-booth") %>
	</div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>

</div>